<html>

<head>

</head>

<body>
    <h2>Serving pages with NestJS.</h2>

    {{#each usuarios}}
        {{ nome }}
        {{ email }}
        {{ userId }}

    {{/each}}

    <form method="POST">
        <input type="text">
        <div id="nome">

        </div>
    </form>
</body>

</html>